
bin/
obj/
publish/


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


.idea/
*.sln.iml

.DS_Store
Thumbs.db
desktop.ini
*.log


*.tmp
*.temp


TestResults/
*.trx


*.nupkg
packages/

# Keep packages.config if used

!packages.config


Properties/PublishProfiles/


*.coverage
*.coveragexml


*.psess
*.vsp
*.vspx

*.pdb
